* {
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 204, 0, 0.2);
    background-image: url("/images/bg.jpg");
    background-size: cover;
}

header {
    background-color: rgb(153, 51, 204);
    padding: 0.5rem;
}

#form {
    width: 30%;
    margin: 2rem auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    border-radius: 1rem;
    box-shadow: 0 0 30px  rgb(153, 51, 204);
    text-align: center;
    align-items: center;
    
}

#form, h1 {
    font-size: 1.5rem;
    color: rgb(153, 51, 204);
    margin-bottom: 1.5rem;
}

a {
    margin-bottom: 2rem;
    padding: 1rem;
    text-decoration: none;
    border-radius: 1rem;
    background-color: rgb(153, 51, 204);
    color: white;
    transition: 0.3s;
}
a:hover {
    background-color: white;
    color: rgb(153, 51, 204);
    box-shadow: 0 0 5px rgb(153, 51, 204);
}

#form, input, label, .submit{
    margin-bottom: 1rem;
}

#form, input, label, .submit{
    margin-bottom: 1rem;
    text-align: center;
}

.submit {
    padding: 1rem;
    border-radius: 2rem;
    border-color: rgb(153, 51, 204);
    color: rgb(153, 51, 204);
    font-weight: bold;
    transition: 0.3s;
}

.submit:hover {
    color: white;
    background-color: rgb(153, 51, 204);
    border-color: white;
}

p {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: rgb(153, 51, 204);
    color: white;
    border-radius: 1rem;
}

.id {
    font-size: 50%;
}

.winner {
    text-transform: uppercase;
}